<!DOCTYPE html>
<html>
  <head>
    <script src="http://localhost:4004/button.js"></script>
    <%# <script src="https://install.idpartner.com/script.js"></script> %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <id-partner id="<%= config["client_id"] %>"></id-partner>
  </body>
</html>
